<html>
<head>
	<title>HOME PAGE</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<div class="main">
		<div class="logo">
			<img src="../static/soict.png">
		</div>
			<ul>
				<li class="active"><a href="/">Home</a></li>
				<li><a href="/temp-chart">Temp Chart</a></li>
        		<li><a href="/nhiptim-chart">HEARTBEAT Chart</a></li>
        		<li><a href="/bodytemp-chart">Bodytemp Chart</a></li>
				<li><a href="/">Logout</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>HUMAN HEALTH</h1>
		</div>
		
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
			Data now
		</button>
		
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Data now</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<script>


						const source = new EventSource("/realtime-data");
				
						source.onmessage = function (event) {
							const data = JSON.parse(event.data);
				
							document.getElementById("temp_data").innerHTML = data.temp;
							document.getElementById("humi_data").innerHTML = data.humi;
							document.getElementById("spo2_data").innerHTML = data.spo2;
							document.getElementById("nhiptim_data").innerHTML = data.nhiptim;
							document.getElementById("bodytemp_data").innerHTML = data.bodytemp;
						}
				
				</script>
				
				<p>Temperature: <a id="temp_data"></a> </p>
				<p>Humidity: <a id="humi_data"></a> </p>
				<p>Concentration O2: <a id="spo2_data"></a> </p>
				<p>Heartbeat: <a id="nhiptim_data"></a> </p>
				<p>Body temperature: <a id="bodytemp_data"></a> </p>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
			</div>
		</div>

	</header>

</body>

</html>
